apiVersion: 1

# Override the default Prometheus datasource to add exemplar trace linking
# This allows clicking on exemplar dots to navigate directly to the trace in Tempo
datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo
          urlDisplayLabel: "View Trace"
